@import url('https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i|Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&subset=cyrillic,cyrillic-ext,devanagari,greek,greek-ext,latin-ext,vietnamese');
body {
    margin: 0px;
    font-family: 'Poppins', sans-serif;
}

@media (max-width: 1000px) {
    #mainNav {
        float: left;
        margin-right: 5px;
        margin-left: 5px;
    }
    #mainNav li {
        margin-right: 10px;
        margin-left: 10px;
    }
    #mainSection h2,
    section2 h2,
    section3 h2 {
        font-size: 1.8em;
    }
    #mobileSection {
        display: block;
        position: absolute;
        background-color: white;
    }
    #mobileSection {
        visibility: visible;
    }
    nav {
        display: none;
    }
    #mainSection {
        padding-top: 100px;
    }
}

#logIn {
    display: none;
}

#mobileSection {
    display: none;
    background-color: white;
}

header {
    background-image: url(https://prahandhuschwedding.files.wordpress.com/2015/03/hotelroom.jpg);
    background-attachment: fixed;
}

nav {
    background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0) 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0) 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    /* IE6-9 */
    padding-top: 10px;
    padding-bottom: 10px;
}
main {
    position: absolute;
    width: 100%;
    height: 70%;
    box-shadow: 0 3px 10px rgba(0,0,0,0.3);
}
#title {
    float: left;
    margin-top: 10px;
    margin-left: 20px;
    color: white;
}

#mainNav a {
    font-size: 1.2em;
    text-decoration: none;
    color: #bfbfbf;
    transition: .5s;
}

#mainNav a:hover {
    color: white;
}

#openRooms {
    font-size: 25px;
    color: white;

    margin-right: 50px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 3px;
    padding-bottom: 3px;
    border-radius: 50px;
    border: 2px solid;
    transition: .5s;
    text-decoration: none;

}

#openRooms:hover {
    color: #66ff66;
    background-color: white;
    border: 1px solid white;
    border-radius: 15px;
}

#mainNav p {
    float: right;
    margin-top: 20px;
}

#mainNav ul {
    margin-left: 35%;
    margin-right: 35%;
}

#mainNav li {
    margin-right: 10%;
    display: inline;
}

.slideSection {
    color: white;
    background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.5) 81%, rgba(0, 0, 0, 0.5) 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.5) 81%, rgba(0, 0, 0, 0.5) 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.5) 81%, rgba(0, 0, 0, 0.5) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    /* IE6-9 */
    padding-top: 150px;
    padding-bottom: 375px;
    padding-left: 20%;
}

.slideSection h2 {
    font-size: 3em;
}

.slidesection p {
    font-size: 1.3em;
    font-weight: 100;
}

.placeToGo {
    float: left;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 10%;
    padding: 20px 20px 20px 20px;
    border: 1px solid white;
    border-radius: 15px;
    transition: .5s;
}

.placeToGo:hover {
    background-color: #cccccc;
    color: white;
}

.placeToGo h3 {
    font-size: 1.8em;
}

.placeToGo p {
    font-size: 1.1em;
    font-weight: 100;
}

#travelSection h2 {
    font-weight: 100;
    font-size: 2em;
    border-bottom: 1px solid #cccccc;
    margin-top: 0%;
    margin-left: 3%;
    padding-top: 15px;
    padding-bottom: 15px;
}

#forms {
    background-color: #595959;
    display: block;
    float: left;
    padding-left: 30%;
    padding-right: 60%;
}

#forms input[type="text"],
#forms input[type="email"],
#forms textarea {
    margin-bottom: 25px;
    padding: 3%;
    font-family: 'Lato', helvetica, sans-serif;
    font-weight: 200;
}

.form-style-6 {
    font: 95% Arial, Helvetica, sans-serif;
    padding-top: 50px;
    padding-left: 30%;
    padding-right: 30%;
    padding-bottom: 50px;
    background: #F7F7F7;
    display: block;
    float: left;
}

.form-style-6 h3 {
    background: #43D1AF;
    padding: 20px 0;
    font-size: 2em;
    font-family: 'Lato';
    font-weight: 200;
    text-align: center;
    color: #fff;
    margin: -16px -16px 16px -16px;
    border-bottom: 5px solid #30C29E;
}

.form-style-6 input[type="text"],
.form-style-6 input[type="date"],
.form-style-6 input[type="datetime"],
.form-style-6 input[type="email"],
.form-style-6 input[type="number"],
.form-style-6 input[type="search"],
.form-style-6 input[type="time"],
.form-style-6 input[type="url"],
.form-style-6 textarea,
.form-style-6 select,
.form-style-6 input[type="password"] {
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    outline: none;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 100%;
    background: #fff;
    margin-bottom: 4%;
    border: 1px solid #ccc;
    padding: 3%;
    color: #555;
    font: 95% Arial, Helvetica, sans-serif;
}

.form-style-6 input[type="text"]:focus,
.form-style-6 input[type="date"]:focus,
.form-style-6 input[type="datetime"]:focus,
.form-style-6 input[type="email"]:focus,
.form-style-6 input[type="number"]:focus,
.form-style-6 input[type="search"]:focus,
.form-style-6 input[type="time"]:focus,
.form-style-6 input[type="url"]:focus,
.form-style-6 textarea:focus,
.form-style-6 select:focus,
.form-style-6 input[type="password"]:focus {
    box-shadow: 0 0 5px #43D1AF;
    padding: 3%;
    border: 1px solid #43D1AF;
}

.form-style-6 input[type="submit"],
.form-style-6 input[type="button"] {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 100%;
    padding: 3%;
    background: #43D1AF;
    border-bottom: 5px solid #30C29E;
    border-top-style: none;
    border-right-style: none;
    border-left-style: none;
    color: #fff;
}

.form-style-6 input[type="submit"]:hover,
.form-style-6 input[type="button"]:hover {
    background: #2EBC99;
}
.item {
    width: 200px;
    height: 300px;
    list-style-type: none;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    background-position: center;
    background-size: cover;
    border-radius: 20px;
    box-shadow: 0 20px 30px rgba(255,255,255,0.3) inset;
    transition: transform 0.1s, left 0.75s, top 0.75s, width 0.75s, height 0.75s;

    &:nth-child(1), &:nth-child(2) {
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        transform: none;
        border-radius: 0;
        box-shadow: none;
        opacity: 1;
    }

    &:nth-child(3) { left: 50%; }
    &:nth-child(4) { left: calc(50% + 220px); }
    &:nth-child(5) { left: calc(50% + 440px); }
    &:nth-child(6) { left: calc(50% + 660px); opacity: 0; }
}

.content {
    width: min(30vw,400px);
    position: absolute;
    top: 50%;
    left: 3rem;
    transform: translateY(-50%);
    font: 400 0.85rem helvetica,sans-serif;
    color: white;
    text-shadow: 0 3px 8px rgba(0,0,0,0.5);
    opacity: 0;
    display: none;

    & .title {
        font-family: 'arial-black';
        text-transform: uppercase;
    }

    & .description {
        line-height: 1.7;
        margin: 1rem 0 1.5rem;
        font-size: 0.8rem;
    }

    & button {
        width: fit-content;
        background-color: rgba(0,0,0,0.1);
        color: white;
        border: 2px solid white;
        border-radius: 0.25rem;
        padding: 0.75rem;
        cursor: pointer;
    }
}

.item:nth-of-type(2) .content {
    display: block;
    animation: show 0.75s ease-in-out 0.3s forwards;
}

@keyframes show {
    0% {
        filter: blur(5px);
        transform: translateY(calc(-50% + 75px));
    }
    100% {
        opacity: 1;
        filter: blur(0);
    }
}

.nav {
    position: absolute;
    bottom: 2rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 5;
    user-select: none;

    & .btn {
        background-color: rgba(255,255,255,0.5);
        color: rgba(0,0,0,0.7);
        border: 2px solid rgba(0,0,0,0.6);
        margin: 0 0.25rem;
        padding: 0.75rem;
        border-radius: 50%;
        cursor: pointer;

        &:hover {
            background-color: rgba(255,255,255,0.3);
        }
    }
}

@media (width > 650px) and (width < 900px) {
    .content {
        & .title        { font-size: 1rem; }
        & .description  { font-size: 0.7rem; }
        & button        { font-size: 0.7rem; }
    }
    .item {
        width: 160px;
        height: 270px;

        &:nth-child(3) { left: 50%; }
        &:nth-child(4) { left: calc(50% + 170px); }
        &:nth-child(5) { left: calc(50% + 340px); }
        &:nth-child(6) { left: calc(50% + 510px); opacity: 0; }
    }
}

@media (width < 650px) {
    .content {
        & .title        { font-size: 0.9rem; }
        & .description  { font-size: 0.65rem; }
        & button        { font-size: 0.7rem; }
    }
    .item {
        width: 130px;
        height: 220px;

        &:nth-child(3) { left: 50%; }
        &:nth-child(4) { left: calc(50% + 140px); }
        &:nth-child(5) { left: calc(50% + 280px); }
        &:nth-child(6) { left: calc(50% + 420px); opacity: 0; }
    }
}

.nav{background-color: transparent;}